
@using CodeSanook.Configuration.Models;
@using CodeSanook.AppRelease.Models;
@model AppReleaseRecord[]

@{
    Layout.Title = T("Settings").ToString();
    var setting = ViewBag.Setting as ModuleSettingPart;
}

<h2>@T("App releases")</h2>

<div class="manage">
    @Html.ActionLink(T("Add release").Text,
    "Add",
    null,
    new { @class = "button primaryAction" })
</div>

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th>@T("Version number")</th>
                    <th>@T("Version code")</th>
                    <th>@T("URL")</th>
                    <th>@T("Created date UTC")</th>
                    <th>@T("Action")</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VersionNumber</td>
                    <td>@item.VersionCode</td>
                    <td>@Flurl.Url.Combine(setting.AwsS3PublicUrl, setting.AwsS3BucketName, item.FileKey)</td>
                    <td>@item.CreatedUtc</td>
                    <td>@Html.ActionLink(T("Edit"), "Edit", new { item.Id })</td>
                </tr>
            }
        </table>
    </fieldset>
}